Road-Runner Quickstart:
git+https://github.com/acmerobotics/road-runner-quickstart

MeepMeep:
git+https://github.com/NoahBres/MeepMeep

EasyOpenCV:
git+https://github.com/OpenFTC/EasyOpenCV

EasyOpenCV-AprilTags:
git+https://github.com/OpenFTC/EOCV-AprilTag-Plugin
